{% extends 'base.html.twig' %}
{% block title %}Officina - Office Rental{% endblock %}
{% block stylesheets %}
    <style>
        .nearby-list{
            max-height: 450px;
            margin-bottom: 10px;
            overflow:scroll;
            -webkit-overflow-scrolling: touch;
            overflow-x: hidden;
        }
        .suggestions{
            z-index: 1000;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- Main Slider With Form -->
    <section class="samar-slider">
        <div id="samarslider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#samarslider" data-slide-to="0" class="active"></li>
                <li data-target="#samarslider" data-slide-to="1"></li>
                <li data-target="#samarslider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active slider-one">
                    <div class="overlay"></div>
                </div>
                <div class="carousel-item slider-two">
                    <div class="overlay"></div>
                </div>
                <div class="carousel-item slider-three">
                    <div class="overlay"></div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#samarslider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#samarslider" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="slider-form">
            <div class="container">
                <h2 class="text-left mb-1 text-white d-none d-sm-block">Find An Awesome Office</h2>
                <p class="text-white mb-5 d-none d-sm-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard <br />dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <form id="search-form">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">For Rent</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row no-gutters">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-map-marker-multiple"></i></div>
                                        <input class="form-control" id="search-input" placeholder="Enter Location or Landmark" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-google-maps"></i></div>
                                        <select class="form-control select2 no-radius">
                                            <option value="">Price range</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-secondary btn-block no-radius font-weight-bold">SEARCH</button>
                                </div>
                            </div>
                            <div class="suggestions"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- End Main Slider With Form -->

    <section class="section-padding" id="nearby">
        <div class="section-title text-center mb-5">
            <h2>Available nearby Offices</h2>
            <div class="line mb-2"></div>
            <p>Discover all the exiting offices around you, just tap on an office the map will show you its location.</p>
        </div>
        <div class="container">
            <div class="row">
                <div id='map' class="col-6">
                </div>
                <div class="col-6">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="col-sm-12 office-main">
                        <div class="list-group nearby-list" id="listing">
                            {% for office in entries %}
                                <div class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-1 office" id="link-{{ office.id }}">{{ office.name }}</h6>
                                        <small>Available</small>
                                    </div>
                                    <p class="mb-1">{{ office.description }}</p>
                                    {% if office.price %}
                                        <p class="text-primary mb-1 font-weight-bold">${{ office.price }}</p>
                                    {% endif %}
                                    <small>{{ office.location }}</small>
                                    {% if (app.user is not null and office.user != app.user.id) or app.user is null %}
                                        <a href="{{ path('order_new', {'id': office.id}) }}" class="btn btn-success float-right">Book</a>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div>
                                    No offices available
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Properties List -->
    <section class="section-padding">
        <div class="section-title text-center mb-5">
            <h2>Latest Offices</h2>
            <div class="line mb-2"></div>
            <p>Discover all the latest  available offices posted on our platform</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card card-list">
                        <a href="#">
                            <div class="card-img">
                                <div class="badge images-badge"><i class="mdi mdi-image-filter"></i> 12</div>
                                <span class="badge badge-primary">For Sale</span>
                                <img class="card-img-top" src="img/list/1.png" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h2 class="text-primary mb-2 mt-0">
                                    $130,000 <small>/month</small>
                                </h2>
                                <h5 class="card-title mb-2">House in Kent Street</h5>
                                <h6 class="card-subtitle mt-1 mb-0 text-muted"><i class="mdi mdi-home-map-marker"></i> 127 Kent Sreet, Sydny, NEW 2000</h6>
                            </div>
                            <div class="card-footer">
                                <span><i class="mdi mdi-sofa"></i> Beds : <strong>3</strong></span>
                                <span><i class="mdi mdi-scale-bathroom"></i> Baths : <strong>2</strong></span>
                                <span><i class="mdi mdi-move-resize-variant"></i> Area : <strong>587 sq ft</strong></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card card-list">
                        <a href="#">
                            <div class="card-img">
                                <div class="badge images-badge"><i class="mdi mdi-image-filter"></i> 60</div>
                                <span class="badge badge-secondary">For Rent</span>
                                <img class="card-img-top" src="img/list/2.png" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h2 class="text-primary mb-2 mt-0">
                                    $127,000 <small>/month</small>
                                </h2>
                                <h5 class="card-title mb-2">Family House in Hudson</h5>
                                <h6 class="card-subtitle mt-1 mb-0 text-muted"><i class="mdi mdi-home-map-marker"></i> Hoboken, NJ, USA</h6>
                            </div>
                            <div class="card-footer">
                                <span><i class="mdi mdi-sofa"></i> Beds : <strong>5</strong></span>
                                <span><i class="mdi mdi-scale-bathroom"></i> Baths : <strong>3</strong></span>
                                <span><i class="mdi mdi-move-resize-variant"></i> Area : <strong>300 sq ft</strong></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card card-list">
                        <a href="#">
                            <div class="card-img">
                                <div class="badge images-badge"><i class="mdi mdi-image-filter"></i> 03</div>
                                <span class="badge badge-success">For Sale</span>
                                <img class="card-img-top" src="img/list/3.png" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h2 class="text-primary mb-2 mt-0">
                                    $55,000 <small>/month</small>
                                </h2>
                                <h5 class="card-title mb-2">Loft Above The City</h5>
                                <h6 class="card-subtitle mt-1 mb-0 text-muted"><i class="mdi mdi-home-map-marker"></i> Hope Street (Stop P), London SW11, UK</h6>
                            </div>
                            <div class="card-footer">
                                <span><i class="mdi mdi-sofa"></i> Beds : <strong>2</strong></span>
                                <span><i class="mdi mdi-scale-bathroom"></i> Baths : <strong>1</strong></span>
                                <span><i class="mdi mdi-move-resize-variant"></i> Area : <strong>100 sq ft</strong></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card card-list">
                        <a href="#">
                            <div class="card-img">
                                <div class="badge images-badge"><i class="mdi mdi-image-filter"></i> 18</div>
                                <span class="badge badge-danger">For Sale</span>
                                <img class="card-img-top" src="img/list/4.png" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h2 class="text-primary mb-2 mt-0">
                                    $25,000 <small>/month</small>
                                </h2>
                                <h5 class="card-title mb-2">Store Space Greenville</h5>
                                <h6 class="card-subtitle mt-1 mb-0 text-muted"><i class="mdi mdi-home-map-marker"></i> 250-260 3rd St, Hoboken, NJ 07030, USA</h6>
                            </div>
                            <div class="card-footer">
                                <span><i class="mdi mdi-sofa"></i> Beds : <strong>6</strong></span>
                                <span><i class="mdi mdi-scale-bathroom"></i> Baths : <strong>4</strong></span>
                                <span><i class="mdi mdi-move-resize-variant"></i> Area : <strong>987 sq ft</strong></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card card-list">
                        <a href="#">
                            <div class="card-img">
                                <div class="badge images-badge"><i class="mdi mdi-image-filter"></i> 04</div>
                                <span class="badge badge-warning">For Rent</span>
                                <img class="card-img-top" src="img/list/5.png" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h2 class="text-primary mb-2 mt-0">
                                    $12,000 <small>/month</small>
                                </h2>
                                <h5 class="card-title mb-2">Villa in Melbourne</h5>
                                <h6 class="card-subtitle mt-1 mb-0 text-muted"><i class="mdi mdi-home-map-marker"></i> NJ 07305, USA</h6>
                            </div>
                            <div class="card-footer">
                                <span><i class="mdi mdi-sofa"></i> Beds : <strong>8</strong></span>
                                <span><i class="mdi mdi-scale-bathroom"></i> Baths : <strong>4</strong></span>
                                <span><i class="mdi mdi-move-resize-variant"></i> Area : <strong>120 sq ft</strong></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card card-list">
                        <a href="#">
                            <div class="card-img">
                                <div class="badge images-badge"><i class="mdi mdi-image-filter"></i> 45</div>
                                <span class="badge badge-info">For Rent</span>
                                <img class="card-img-top" src="img/list/6.png" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h2 class="text-primary mb-2 mt-0">
                                    $356, 000 <small>/month</small>
                                </h2>
                                <h5 class="card-title mb-2">Villa on Hollywood Boulev</h5>
                                <h6 class="card-subtitle mt-1 mb-0 text-muted"><i class="mdi mdi-home-map-marker"></i> The Village, Jersey City, NJ 07302, USA</h6>
                            </div>
                            <div class="card-footer">
                                <span><i class="mdi mdi-sofa"></i> Beds : <strong>1</strong></span>
                                <span><i class="mdi mdi-scale-bathroom"></i> Baths : <strong>3</strong></span>
                                <span><i class="mdi mdi-move-resize-variant"></i> Area : <strong>187 sq ft</strong></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12 text-center">
                    <a class="btn btn-secondary font-weight-bold btn-lg" href="#nearby">VIEW ALL</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Properties List -->


    <!-- Properties by City -->
    <section class="section-padding bg-grey">
        <div class="section-title text-center mb-5">
            <h2>Offices By City</h2>
            <div class="line mb-2"></div>
            <p>Choose your city and let us show you what's available.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card bg-dark text-white card-overlay">
                        <a href="#">
                            <img class="card-img" src="{{ asset('img/overlay/1.png') }}" alt="Card image">
                            <div class="card-img-overlay">
                                <h3 class="card-title text-white">California</h3>
                                <p class="card-text text-white">16 Properties</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card bg-dark text-white card-overlay">
                        <a href="#">
                            <img class="card-img" src="{{ asset('img/overlay/2.png') }}" alt="Card image">
                            <div class="card-img-overlay">
                                <h3 class="card-title text-white">New York</h3>
                                <p class="card-text text-white">16 Properties</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card bg-dark text-white card-overlay">
                        <a href="#">
                            <img class="card-img" src="{{ asset('img/overlay/3.png') }}" alt="Card image">
                            <div class="card-img-overlay">
                                <h3 class="card-title text-white">Los Angeles</h3>
                                <p class="card-text text-white">265 Properties</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="card bg-dark text-white card-overlay">
                        <a href="#">
                            <img class="card-img" src="{{ asset('img/overlay/4.png') }}" alt="Card image">
                            <div class="card-img-overlay">
                                <h3 class="card-title text-white">Chicago</h3>
                                <p class="card-text text-white">620 Properties</p>
                            </div>
                        </a>
                        .
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="card bg-dark text-white card-overlay">
                        <a href="#">
                            <img class="card-img" src="img/overlay/5.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h3 class="card-title text-white">Philadelphia</h3>
                                <p class="card-text text-white">28 Properties</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Properties by City -->
{% endblock %}
{% block javascripts %}
    <script>

        // This will let you use the .remove() function later on
        if (!('remove' in Element.prototype)) {
            Element.prototype.remove = function() {
                if (this.parentNode) {
                    this.parentNode.removeChild(this);
                }
            };
        }

        mapboxgl.accessToken = 'pk.eyJ1Ijoia2FydmV6IiwiYSI6ImNrZGtwdGRsajBxd20zMG50c2t1MzRmNGIifQ.zUkJ4rXmsi-h2a4oLJg-Jw';
        let map = new mapboxgl.Map({
            container: 'map', // Container ID
            style: 'mapbox://styles/mapbox/streets-v11', // Map style to use
            center: [-122.25948, 37.87221], // Starting position [lng, lat]
            zoom: 12, // Starting zoom level
        });

        let offices = {{ geojson|json_encode|raw }};


        /**
         * Add a marker to the map for every store listing.
         **/
        function addMarkers() {
            /* For each feature in the GeoJSON object above: */
            offices.features.forEach(function(marker) {
                /* Create a div element for the marker. */
                let el = document.createElement('div');
                /* Assign a unique `id` to the marker. */
                el.id = "marker-" + marker.properties.id;
                /* Assign the `marker` class to each marker for styling. */
                el.className = 'marker';

                /**
                 * Create a marker using the div element
                 * defined above and add it to the map.
                 **/
                new mapboxgl.Marker(el, { offset: [0, -23] })
                    .setLngLat(marker.geometry.coordinates)
                    .addTo(map);

                /**
                 * Listen to the element and when it is clicked, do three things:
                 * 1. Fly to the point
                 * 2. Close all other popups and display popup for clicked store
                 * 3. Highlight listing in sidebar (and remove highlight for all other listings)
                 **/
                el.addEventListener('click', function(e){
                    /* Fly to the point */
                    flyToStore(marker);
                    /* Close all other popups and display popup for clicked store */
                    createPopUp(marker);
                    /* Highlight listing in sidebar */
                    let activeItem = document.getElementsByClassName('active');
                    e.stopPropagation();
                    if (activeItem[0]) {
                        activeItem[0].classList.remove('active');
                    }
                    //var listing = document.getElementById('listing-' + marker.properties.id);
                    //listing.classList.add('active');
                });
            });
        }

        /**
         * Add a listing for each store to the sidebar.
         **/
        $(".office").click((e) => {
            const clickedElement = $(e.target)
            for (let i = 0; i < offices.features.length; i++) {
                if (clickedElement.attr('id') === "link-" + offices.features[i].properties.id) {
                    let clickedListing = offices.features[i];
                    flyToStore(clickedListing);
                    createPopUp(clickedListing);
                }
            }
            e.preventDefault()
        })
        /**
         * Use Mapbox GL JS's `flyTo` to move the camera smoothly
         * a given center point.
         **/
        function flyToStore(currentFeature) {
            map.flyTo({
                center: currentFeature.geometry.coordinates,
                zoom: 15
            });
        }

        /**
         * Create a Mapbox GL JS `Popup`.
         **/
        function createPopUp(currentFeature) {
            let popUps = document.getElementsByClassName('mapboxgl-popup');
            if (popUps[0]) popUps[0].remove();
            let popup = new mapboxgl.Popup({closeOnClick: false})
                .setLngLat(currentFeature.geometry.coordinates)
                .setHTML('<h5>'+currentFeature.properties.name+'</h5>' +
                    '<h6>' + currentFeature.properties.address + '</h6>')
                .addTo(map);
        }


        // After the map style has loaded on the page,
        // add a source layer and default styling for a single point
        map.on('load', function() {
            map.addSource("places", {
                "type": "geojson",
                "data": offices
            });
            addMarkers();
        });
        $('#search-input').keyup((e) => {
            let query = $('#search-input').val();
            $('.suggestions').text("");
                $.ajax({
                    type:"POST",
                    url : "{{ path('search_auto') }}",
                    dataType : 'json',
                    data : {query: query},
                    beforeSend: function(){
                        $("#search-input").css("background","#FFF url(img/LoaderIcon.gif) no-repeat 165px");
                    }
                }).done(function (data) {
                    $("#search-input").css("background","#FFF");
                    let template = "";
                    data.forEach((office)=>{
                        template += '<div class="list-group-item" id="office-'+office.id+'">' +
                            '<div class="d-flex w-100 justify-content-between">\n' +
                            '      <h5 class="mb-1">'+office.name+'</h5>\n' +
                            '      <small>$'+office.price+'</small>\n' +
                            '    </div>\n' +
                            '    <p class="mb-1">'+office.address+'</p>\n' +
                            '</div>';
                    })
                    $('.suggestions').html(template);
                    //done({suggestions: data});
                });
        });
        $("#search-input").focusout((e)=>{
            $('.suggestions').text("");
        })
    </script>
{% endblock %}
