{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="offices-header">
            <h1 class="office-title">Available nearby Offices</h1>
            <p class="lead office-description"></p>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% if app.user %}
            <div class="col-md-12 col-lg-12 col-xl-12">
                <a type="button" href="{{ path('post_office') }}" class="btn btn-primary pull-right">Add Entry</a>
            </div>
            {% endif %}
            <div class="col-sm-12 office-main">
                <table class="table table-striped">
                    <thead>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Description</th>
                        <th>Booking</th>
                    </thead>
                    {% for office in entries %}
                        <tr>
                            <td>{{ office.name }}</td>
                            <td>{{ office.location }}</td>
                            <td>{{ office.description }}</td>
                            <td><a type="button" href="{{ path('order_new', {'id': office.id}) }}" class="btn btn-primary pull-right">Book</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No entries available</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
